---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Recipes from '../components/Recipes.astro';
import Ejercicios from '../components/Ejercicios.astro';
import Blog from '../components/Blog.astro';
import Footer from '../components/Footer.astro';

---

<Layout>
	<div class="bg-gray-200">
		<Header />
		<Hero />
		<Recipes />
		<Ejercicios />
		<Blog />
		<Footer />
	</div>
</Layout>
