<footer class="w-full m-0 p-0">
    <div class="flex justify-between items-center bg-gray-300 py-4 w-full p-20">
        <p class="text-md pl-16">© 2025 AlvaroJuarez. Todos los derechos reservados.</p>
        <nav>
            <ul class="flex gap-6 text-md pr-16">
                <li><a href="/" class="hover:underline">Inicio</a></li>
                <li><a href="/recetas" class="hover:underline">Politica de privacidad</a></li>
                <li><a href="/ejercicios" class="hover:underline">Condiciones</a></li>
            </ul>
        </nav>
    </div>
</footer>
