<header class="w-full m-0 p-0">
    <div class="flex justify-center items-center bg-gray-200 py-4 w-full">
      <!-- Contenedor del logo -->
      <div class="logo w-32">
        <a href="/" class="hover:underline">
          <img src="/images/Logo/logo.png" alt="Fit & Fitness" class="w-16 h-16" />
        </a>
      </div>
      <!-- Contenedor de navegación -->
      <nav class="ml-8">
        <ul class="flex gap-6 text-lg font-medium">
          <li><a href="/" class="hover:underline">Inicio</a></li>
          <li><a href="/recetas" class="hover:underline">Recetas</a></li>
          <li><a href="/ejercicios" class="hover:underline">Ejercicios</a></li>
          <li><a href="/blog" class="hover:underline">Blog</a></li>
          <li><a href="/contacto" class="hover:underline">Contacto</a></li>
        </ul>
      </nav>
    </div>
</header>
  