<div class="grid grid-cols-5 grid-rows-5 pt-10 gap-6 px-10 bg-orange-300">
    <!-- Recetas fitness -->
    <div class="relative col-span-4 row-span-3 animate-spin-clockwise">
      <img src="/images/Hero/hero.webp" alt="Recetas fitness" class="w-full h-full object-cover rounded-lg border-2 border-black">
      <div class="absolute top-0 left-0 w-full p-2">
        <h3 class="text-xl font-bold text-white mb-2 text-center">Recetas fitness</h3>
        <p class="text-white text-center">Podrás encontrar aquí las mejores recetas para una dieta saludable y fitness.</p>
      </div>
    </div>
  
    <!-- Postres fitness -->
    <div class="relative row-span-2 col-start-5">
      <img src="/images/Hero/hero2.webp" alt="Postres fitness" class="w-full h-full object-cover rounded-lg border-2 border-black">
      <div class="absolute top-0 left-0 w-full p-2">
        <h3 class="text-xl font-bold text-white mb-2 text-center">Postres fitness</h3>
      </div>
    </div>
  
    <!-- Suplementos deportivos -->
    <div class="relative row-span-2 col-start-5 row-start-3">
      <img src="/images/Hero/hero3.webp" alt="Suplementos deportivos" class="w-full h-110 object-cover rounded-lg border-2 border-black">
      <div class="absolute top-0 left-0 w-full p-2">
        <h3 class="text-xl font-bold text-white mb-2 text-center">Suplementos deportivos</h3>
      </div>
    </div>
  
    <!-- Ejercicios -->
    <div class="relative col-span-2 row-start-4">
      <img src="/images/Hero/hero4.webp" alt="Ejercicios" class="w-full h-48 object-cover rounded-lg border-2 border-black">
      <div class="absolute top-0 left-0 w-full p-2">
        <h3 class="text-xl font-bold text-white mb-2 text-center">Ejercicios</h3>
      </div>
    </div>
  
    <!-- Blog -->
    <div class="relative col-span-2 col-start-3 row-start-4">
      <img src="/images/Hero/hero5.webp" alt="Blog" class="w-full h-48 object-cover rounded-lg border-2 border-black">
      <div class="absolute top-0 left-0 w-full p-2">
        <h3 class="text-xl font-bold text-white mb-2 text-center">Blog</h3>
      </div>
    </div>
  </div>
  